*,html{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;

}


.header{
    width: 100%;
    background-color: blue;
}

.header .navigation ul{

    display: flex;
    padding: 20px;
    
    justify-content: center;
    
}

.header .navigation > ul li{
    list-style-type: none;
    padding: 20px;

    
}
.header .navigation >  ul li a{
    color: white;
    font-size: 20px;
    text-decoration: none;
}
